table {
    width: 700px;
    height: 150px;
    border: 5px solid darkolivegreen;
    background-color: darkolivegreen;
}


td {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.coin {
    background-color: white;
}

.coin:hover {
    background-color: gray;
}



