table {
    width: 175px;
    border: 5px solid darkolivegreen;
    background-color: darkolivegreen;
    box-shadow: 2px;
}


td {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

td:hover {
    background-color: gray;
}

