body {
    background-color: lightgreen;
}

table {
    width: 125px;
    height: 550px;
    border: 5px solid slategrey;
    background-color: slategrey;
}


td {
    border: 2px solid black;
    width: 20px;
    height: 35px;
    border-radius: 85%;
}

.coin {
    background-color: white;
}

#yellow {
    background-color: yellow;
    height: 35px;
    width: 60px;
}

#yellow:hover{
    background-color: orange;
}

#red {
    background-color: red;
    height: 35px;
    width: 60px;
}

#red:hover{
    background-color:darkred;
}


